astroid
attrs
certifi
cffi
chardet
cryptography
decorator
entrypoints
flake8
future
idna
isort
mccabe
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pyTelegramBotAPI
python-dotenv
requests
service-identity
six
urllib3
wrapt
